*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  min-height: 100dvh;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
}
